name: Build and Deploy Packages

on: [push]

env:
  # Package Version to build to
  PACKAGE_VER: 1.0.1-mx
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: RelWithDebInfo
jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#configuring-a-build-matrix
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Update git submodule
      # ensure that the libgit2 linkage is correct
      run: |
        git submodule init
        git submodule update

    - name: Build & Deploy Package
      # Build project using powershell script
      run: |
        powershell .\build.libgit2.ps1
        powershell .\buildpackage_forMendix.ps1 -version ${PACKAGE_VER}
        nuget source Add -Name "GitHub" -Source "https://nuget.pkg.github.com/MarcellvanRooyen/index.json" -UserName MarcellVanRooyen -Password ${{ secrets.GHPACKAGESTOKEN }}
        nuget push **/*.nupkg -Source "GitHub" -SkipDuplicate
    
     
